<ion-header>
  <ion-toolbar>
    <ion-title>Who am I?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
      
  <ion-item lines="full">
    <ion-icon slot="start" name="moon"></ion-icon>
    <ion-label>
      Toggle Dark Theme
    </ion-label>
    <ion-toggle slot="end" click="themeToggle()"></ion-toggle>
  </ion-item>

  <br>
  <p class="top-line">Choose your Identity</p>
  <div class="ion-content">
<br><br><br>
  <ion-grid>
    <ion-row>

      <ion-col>
          <ion-card button="true" type="button" (click)="selectUser(1)" >
          
            <img src="../../assets/doctor.jpg" alt="">
            <p>I am doctor </p>
            <ion-ripple-effect></ion-ripple-effect>
        
        </ion-card>
      </ion-col>
      <ion-col>
          <ion-card button="true" type="button" (click)="selectUser(2)">
            <img src="../../assets/patient.jpg" alt="">
            <p>I am Patient</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
</ion-content>