p
{
    text-align: center;
}

.ion-content
{
    
    justify-content: center;
    align-items: center;
    top: 30%;
    margin-left:  auto;
    margin-right:  auto;
    width: 380px;
}

img
{
    height: 160px;
    width: 160px;
}