

  <ion-header  *ngIf="edit"  mode="ios">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">  <ion-button (click)="edit=!edit"><ion-icon name="arrow-back"></ion-icon></ion-button></ion-buttons>
    
      <ion-title color="light" text-wrap>Informationen editieren</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-header  *ngIf="!edit"  mode="ios">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/menu"></ion-back-button>
      </ion-buttons>
      <ion-title color="light" text-wrap>{{patient.name}}, {{patient.age}} y.o.</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content >
  <div *ngIf="!edit">
  <div class="header">
   
    <h2 text-wrap></h2>
    <div class="space-between">
      <div class="followings">
        <p><b>Gewicht</b> </p>
        <ion-badge color="primary" mode="ios" > {{patient.weight}} Kg</ion-badge>   
      </div>

      <div class="followings">
        <p><b>Blutgruppe</b></p>
        <ion-badge color="primary" mode="ios">{{patient.bloodgroup}}</ion-badge>
      
      </div>
     
    </div>

  </div>
  <div class="flex">
    <div class="border-blue">
      <div class="border-white">
        <div class="img-box">
          <img *ngIf="!existImage"src="../../assets/profilExample.jpeg"  class="tweet-img" alt="Patient Image">
          <img *ngIf="existImage" [src]="imageProfil"  class="tweet-img" alt="Patient Image">
        </div>
      </div>
    </div>
  </div>

  <ion-list>
    <ion-list-header>Geprüfte Daten</ion-list-header>
    
  
  <ion-card >
    <ion-item lines="none" class="info">

      <ion-avatar slot="start">
        <img src="../../assets/allergy.jpg">
      </ion-avatar>
        <ion-label> 
            <h2><b>Allergien</b></h2>  
            <p>{{patient.allergies}}</p>
        </ion-label>
    </ion-item>
    

  </ion-card>
  <ion-card>
    <ion-item lines="none" class="info">

      <ion-avatar slot="start">
        <img src="../../assets/sport.jpg">
      </ion-avatar>
        <ion-label> 
            <h2><b>Athletik </b></h2>  
            <p>{{patient.athletic}}</p>
        </ion-label>
    </ion-item>
    

  </ion-card>
  <ion-card>
    <ion-item lines="none" class="info">

      <ion-avatar slot="start">
        <img src="../../assets/job.jpg">
      </ion-avatar>
        <ion-label> 
            <h2><b>Beruf</b></h2>  
            <p>{{patient.job}}</p>
        </ion-label>
    </ion-item>
    

  </ion-card>
 
  <ion-card>
    <ion-item lines="none" class="info">

      <ion-avatar slot="start">
        <img src="../../assets/diabetes.jpg">
      </ion-avatar>
        <ion-label> 
            <h2><b>Diabetik</b></h2>  
            <p>{{patient.diabetic}}</p>
        </ion-label>
    </ion-item>
    

  </ion-card>
  <ion-card>
    <ion-item lines="none" class="info">

      <ion-avatar slot="start">
        <img src="../../assets/ethnie.jpg">
      </ion-avatar>
        <ion-label> 
            <h2><b>Ethnie</b></h2>  
            <p>{{patient.ethnie}}</p>
        </ion-label>
    </ion-item>
    

  </ion-card>

  <ion-card>
    <ion-item lines="none" class="info">
      <ion-avatar slot="start">
        <img src="../../assets/gender.png">
      </ion-avatar>
        <ion-label> 
            <h2><b>Genre</b></h2>  
            <p *ngIf="patient.gender=='male' || patient.gender=='Male'  "><ion-icon name="man-outline"></ion-icon><ion-icon name="male-outline"></ion-icon></p>
            <p *ngIf="patient.gender=='female' || patient.gender=='Female'"><ion-icon name="woman-outline"></ion-icon><ion-icon name="female-outline"></ion-icon></p>
            <p *ngIf="patient.gender=='other' || patient.gender=='Other' "><ion-icon name="male-female-outline"></ion-icon></p>

        </ion-label>
    </ion-item>
    

  </ion-card>
  <ion-card>
    
    <ion-item lines="none" class="info">

      <ion-avatar slot="start">
        <img src="../../assets/size.jpg">
      </ion-avatar>
        <ion-label> 
            <h2><b>Größe</b></h2>  
            <p>{{patient.size}} m</p>
        </ion-label>
    </ion-item>
    

  </ion-card>

 

  <ion-card>
    <ion-item lines="none" class="info">

      <ion-avatar slot="start">
        <img src="../../assets/vaccin.jpg">
      </ion-avatar>
        <ion-label> 
            <h2><b> Impfungen</b></h2>  
            <p>{{patient.vaccine}}</p>
        </ion-label>
    </ion-item>
    

  </ion-card>
  <ion-card>
    <ion-item lines="none" class="info">

      <ion-avatar slot="start">
        <img src="../../assets/disease.jpg">
      </ion-avatar>
        <ion-label> 
            <h2><b>Krankheiten</b></h2>  
            <p>{{patient.diseases}}</p>
        </ion-label>
    </ion-item>
    

  </ion-card>

 
  <ion-card>
    <ion-item lines="none" class="info">

      <ion-avatar slot="start">
        <img src="../../assets/smoke.jpg">
      </ion-avatar>
        <ion-label> 
            <h2><b>Raucher</b></h2>  
            <p>{{patient.smoker}}</p>
        </ion-label>
    </ion-item>
    

  </ion-card>
 
 


  <ion-card>
    <ion-item lines="none" class="info">

      <ion-avatar slot="start">
        <img src="../../assets/vegetariean.jpg">
      </ion-avatar>
        <ion-label> 
            <h2><b>Vegetarian</b></h2>  
            <p>{{patient.vegetarian}}</p>
        </ion-label>
    </ion-item>
    

  </ion-card>
  
  <ion-list-header>Hinzugefügte Daten</ion-list-header>
  <ion-card *ngFor="let item of fields">
    <ion-item lines="none" class="info">

      <ion-avatar slot="start">
        <img src="../../assets/otherinfo.jpg">
      </ion-avatar>
        <ion-label> 
            <h2><b>{{item.label}}</b></h2>  
            <p>{{item.value}}</p>
        </ion-label>
    </ion-item>
    

  </ion-card>
 
  
  

  </ion-list>
</div>

<ion-fab horizontal="end" *ngIf="!edit" vertical="bottom" slot="fixed" >
  <ion-fab-button (click)="edit=!edit">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list>
    
  </ion-fab-list>
</ion-fab>

<ion-fab horizontal="end" *ngIf="edit" vertical="bottom" slot="fixed" >
  <ion-fab-button (click)="update()">
    <ion-icon name="bookmark"></ion-icon>
  </ion-fab-button>
  <ion-fab-list>
    
  </ion-fab-list>
</ion-fab>
<div *ngIf="edit" class="ion-padding" style="margin: 10px;">
  <!-- TODO ranger par ordre alphabetique -->

  <ion-item line>
    <ion-label position="floating" lines="none"><b>Allergien</b></ion-label>
    <ion-textarea  placeholder="Allergies" [(ngModel)]="patient.allergies" required></ion-textarea>
  </ion-item>
  <ion-item line>
    <ion-label position="floating" lines="none"><b>Athletik</b></ion-label>
    <ion-input type="text" [(ngModel)]="patient.athletic" required ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" lines="none" ><b>Beruf</b></ion-label>
    <ion-input type="text" [(ngModel)]="patient.job" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" lines="none" ><b>Diabetik</b></ion-label>
    <ion-input type="text" [(ngModel)]="patient.diabetic"  required></ion-input>
</ion-item>
    <ion-item line>
        <ion-label position="floating" lines="none"><b>Gewicht</b></ion-label>
        <ion-input type="number" [(ngModel)]="patient.weight" required ></ion-input>
      </ion-item>
    <ion-item>
        <ion-label position="floating" lines="none" ><b>Größe</b></ion-label>
        <ion-input type="number" [(ngModel)]="patient.size" required ></ion-input>
    </ion-item>

    <ion-item line>
      <ion-label position="floating" lines="none"><b>Impfungen</b></ion-label>
      <ion-textarea  placeholder="Vaccine" [(ngModel)]="patient.vaccine"></ion-textarea>
    </ion-item>
    <ion-item line>
      <ion-label position="floating" lines="none"><b>Raucher</b></ion-label>
      <ion-input type="text" [(ngModel)]="patient.smoker" required ></ion-input>
    </ion-item>

    <ion-item line>
      <ion-label position="floating" lines="none"><b>Vegan/Vegetarier</b></ion-label>
      <ion-input type="text" [(ngModel)]="patient.vegetarian" required ></ion-input>
    </ion-item>  
     
    <ion-item *ngFor="let field of fields" >
      <ion-label position="floating" ><b>{{field.label}}</b></ion-label>
      <ion-input type="text" placeholder="{{field.placeholder}}" [(ngModel)]="field.value" required></ion-input>
      <ion-button color="danger" slot="end" (click)="deleteField(field.label)"><ion-icon name="close-outline"></ion-icon>delete</ion-button>
    </ion-item>
      <br>
      
      <ion-item >
          <ion-label position="floating" ><b>Neue Informationen hinzufügen</b></ion-label>     
          <ion-button color="secondary" slot="end"  (click)="newFields(label)"  [disabled]="!label"><ion-icon name="add-outline"></ion-icon>Add Field</ion-button>
        
          <ion-input type="text" placeholder="Label"   [(ngModel)]="label" ></ion-input>
      </ion-item>
  
    </div>
 
</ion-content>