


<ion-content>
  <div class="header">
    <h2 text-wrap>Patient Name</h2>
    <div class="space-between">
      <div class="followings">
        <ion-badge color="primary" mode="ios"> 90 Kg</ion-badge>   
        <p>Weight </p>
      </div>

      <div class="followings">
        <ion-badge color="primary" mode="ios">42</ion-badge>
        <p>Age </p>
      </div>
     
    </div>

  </div>
  <div class="flex">
    <div class="border-blue">
      <div class="border-white">
        <div class="img-box">
          <img src="../../assets/profilExample.jpeg" class="tweet-img" alt="Patient Image">
        </div>
      </div>
    </div>
  </div>
  
  <ion-card >
    <ion-item lines="none" class="info">

      <ion-avatar slot="start">
        <img src="../../assets/allergy.jpg">
      </ion-avatar>
        <ion-label> 
            <h2><b>Allergy</b></h2>  
            <p>Pollen, Alcool</p>
        </ion-label>
    </ion-item>
    <ion-button size="small" fill="clear">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon> 34
    </ion-button>
    <ion-button size="small" fill="clear">
      <ion-icon slot="start" name="repeat"></ion-icon> 116
    </ion-button>
  </ion-card>
  <ion-card>
    <ion-item lines="none" class="info">

      <ion-avatar slot="start">
        <img src="../../assets/sport.jpg">
      </ion-avatar>
        <ion-label> 
            <h2><b>Athletic </b></h2>  
            <p>very</p>
        </ion-label>
    </ion-item>
    <ion-button size="small" fill="clear">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon> 34
    </ion-button>
    <ion-button size="small" fill="clear">
      <ion-icon slot="start" name="repeat"></ion-icon> 116
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-item lines="none" class="info">

      <ion-avatar slot="start">
        <img src="../../assets/disease.jpg">
      </ion-avatar>
        <ion-label> 
            <h2><b>Recently contracted disease</b></h2>  
            <p></p>
        </ion-label>
    </ion-item>
    <ion-button size="small" fill="clear">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon> 34
    </ion-button>
    <ion-button size="small" fill="clear">
      <ion-icon slot="start" name="repeat"></ion-icon> 116
    </ion-button>
  </ion-card>
  <ion-card>
    <ion-item lines="none" class="info">

      <ion-avatar slot="start">
        <img src="../../assets/size.jpg">
      </ion-avatar>
        <ion-label> 
            <h2><b>Size</b></h2>  
            <p>1.80</p>
        </ion-label>
    </ion-item>
    <ion-button size="small" fill="clear">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon> 34
    </ion-button>
    <ion-button size="small" fill="clear">
      <ion-icon slot="start" name="repeat"></ion-icon> 116
    </ion-button>
  </ion-card>
  <ion-card>
    <ion-item lines="none" class="info">

      <ion-avatar slot="start">
        <img src="../../assets/smoke.jpg">
      </ion-avatar>
        <ion-label> 
            <h2><b>Smoker</b></h2>  
            <p>No</p>
        </ion-label>
    </ion-item>
    <ion-button size="small" fill="clear">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon> 34
    </ion-button>
    <ion-button size="small" fill="clear">
      <ion-icon slot="start" name="repeat"></ion-icon> 116
    </ion-button>
  </ion-card>
 
  <ion-card>
    <ion-item lines="none" class="info">

      <ion-avatar slot="start">
        <img src="../../assets/blood.jpg">
      </ion-avatar>
        <ion-label> 
            <h2><b>Blood group</b></h2>  
            <p>important</p>
        </ion-label>
    </ion-item>
    <ion-button size="small" fill="clear">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon> 34
    </ion-button>
    <ion-button size="small" fill="clear">
      <ion-icon slot="start" name="repeat"></ion-icon> 116
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-item lines="none" class="info">

      <ion-avatar slot="start">
        <img src="../../assets/job.jpg">
      </ion-avatar>
        <ion-label> 
            <h2><b>Job</b></h2>  
            <p>Coder</p>
        </ion-label>
    </ion-item>
    <ion-button size="small" fill="clear">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon> 34
    </ion-button>
    <ion-button size="small" fill="clear">
      <ion-icon slot="start" name="repeat"></ion-icon> 116
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-item lines="none" class="info">

      <ion-avatar slot="start">
        <img src="../../assets/vegetariean.jpg">
      </ion-avatar>
        <ion-label> 
            <h2><b>Vegetarian</b></h2>  
            <p>No</p>
        </ion-label>
    </ion-item>
    <ion-button size="small" fill="clear">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon> 34
    </ion-button>
    <ion-button size="small" fill="clear">
      <ion-icon slot="start" name="repeat"></ion-icon> 116
    </ion-button>
  </ion-card>
  
  <ion-card>
    <ion-item lines="none" class="info">

      <ion-avatar slot="start">
        <img src="../../assets/blood.jpg">
      </ion-avatar>
        <ion-label> 
            <h2><b>Diabetic</b></h2>  
            <p>No</p>
        </ion-label>
    </ion-item>
    <ion-button size="small" fill="clear">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon> 34
    </ion-button>
    <ion-button size="small" fill="clear">
      <ion-icon slot="start" name="repeat"></ion-icon> 116
    </ion-button>
  </ion-card>
  
  <ion-card>
    <ion-item lines="none" class="info">

      <ion-avatar slot="start">
        <img src="../../assets/vaccin.jpg">
      </ion-avatar>
        <ion-label> 
            <h2><b> Vaccine</b></h2>  
            <p>Tuberkulose, Corona...</p>
        </ion-label>
    </ion-item>
    <ion-button size="small" fill="clear">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon> 34
    </ion-button>
    <ion-button size="small" fill="clear">
      <ion-icon slot="start" name="repeat"></ion-icon> 116
    </ion-button>
  </ion-card>
 
  
  

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      
    </ion-fab-list>
  </ion-fab>

 
</ion-content>
<!-- <div class="tabs">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard">
        <ion-icon name="speedometer"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="products">
        <ion-icon name="list"></ion-icon>
        <ion-label>Termine</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
 </div> -->