<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Medical Monitoring
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>


  <div id="container" *ngIf="!search">

   

      <strong>Ready to use your app?</strong>
     
    <ion-item id="rounded" *ngIf="logInwithId">
      <ion-label position="floating">Patient Id</ion-label>
      <ion-input type="text" [(ngModel)]="patientId" required></ion-input>
    </ion-item>

    <ion-item  id="rounded" *ngIf="!logInwithId">

      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="patientName" required></ion-input>
    </ion-item>

    <ion-item id="rounded"  *ngIf="!logInwithId">
      <ion-label>Birthday</ion-label>
      <ion-datetime  [(ngModel)]="patientBirthDay" required></ion-datetime>
    </ion-item>

    <section>
      <ion-button expand="block"  (click)="getPatient(patientName)">Find a Patient &nbsp;<ion-icon name="person"></ion-icon></ion-button>
    </section>
    <br>
    <section>
      <ion-button expand="block" color="tertiary" (click)="logInwithId=!logInwithId">
        <p *ngIf="!logInwithId">Find with Patient id</p>
        <p *ngIf="logInwithId">Find with Name and Birthday</p>

      </ion-button>
    </section>
    
    
  </div>

  <div *ngIf="search">

  </div>
</ion-content>
