<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>
       History {{currentMonth | titlecase}}
      </ion-title>
      
    </ion-toolbar>
    
  </ion-header>
  
  <ion-content class="ion-padding">

    
     <div *ngIf="!showAddEvent" lines="none"> 
        <ion-segment value="DAY" scrollable>
          <ion-segment-button value="day" (click)="changeMode('day')"   >
            <ion-label>DAY</ion-label>
          </ion-segment-button>
          <ion-segment-button value="week" (click)="changeMode('week')"  >
            <ion-label>WEEK</ion-label>
          </ion-segment-button>
          <ion-segment-button value="month"  (click)="changeMode('month')" >
            <ion-label>MONTH</ion-label >
          </ion-segment-button>
        </ion-segment>
      </div> 

  
    <div *ngIf="showAddEvent" class="ion-padding">
  <!-- TODO ranger par ordre alphabetique -->
      <ion-item line>
        <ion-label position="floating" lines="none"><b>Reason for visit</b></ion-label>
        <ion-input type="text" placeholder="Reason for visit" [(ngModel)]="visit.reason" required></ion-input>
      </ion-item>
     
    <ion-item>
        <ion-label position="floating" lines="none" ><b>Temperature</b></ion-label>
        <ion-input type="number" placeholder="Temperature" min="35" max="40" [(ngModel)]="visit.temperature" required></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating" lines="none"><b>Medical prescription</b></ion-label>
        <ion-textarea  placeholder="Medical prescription" [(ngModel)]="visit.prescription" required></ion-textarea>
    </ion-item>

     <ion-item>
        <ion-label position="floating" lines="none"><b>Date of Visit</b></ion-label>
        <ion-datetime displayFormat="D MMM YYYY H:mm" pickerFormat="MMM D HH:mm" min="2019" [(ngModel)]="visit.dateOfvisit" required></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating" lines="none"><b>Next visit at:</b></ion-label>
        <ion-datetime displayFormat="D MMM YYYY H:mm" pickerFormat="MMM D HH:mm" min="2019" required [(ngModel)]="visit.nextVisit" ></ion-datetime>
      </ion-item>

      
   
     
      <ion-item *ngFor="let field of fields" >
        <ion-label position="floating" ><b>{{field.label}}</b></ion-label>
        <ion-input type="text" placeholder="{{field.placeholder}}" [(ngModel)]="field.Value" required></ion-input>
        <ion-button color="danger" slot="end" (click)="deleteField(field.label)"><ion-icon name="close-outline"></ion-icon>delete</ion-button>
      </ion-item>
      <br>
      
        <ion-item >
            <ion-label position="floating" ><b>Create a new Field</b></ion-label>     
            <ion-button color="secondary" slot="end"  (click)="newFields(label)"  [disabled]="!label"><ion-icon name="add-outline"></ion-icon>Add Field</ion-button>
          
            <ion-input type="text" placeholder="Label"   [(ngModel)]="label" required></ion-input>
        </ion-item>
    <br>
      
      <ion-button color="secondary" expand="block" (click)="addEvent()">Add</ion-button>

    </div>

    <br>
  

    <calendar id="myCalendar"
      locale="en-GB"
      [eventSource]="visits"
      [calendarMode] = "mode"
      startHour="09"
      endHour="23"
      step="90"
      startingDayWeek="1"
      [currentDate]="currentDate"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onEventSelected)="onEventSelected($event)"
      [timeInterval]="60"
      startingDayWeek="1"
      class="calendar" lines="none">
  </calendar>
  
  
  
  
  
  
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="showHideForm()">
            <ion-icon *ngIf="showAddEvent" name="close"></ion-icon>
            <ion-icon *ngIf="!showAddEvent" name="add"></ion-icon>
        </ion-fab-button>
        </ion-fab>
  </ion-content>
  