
ion-item{
    --ion-background-color: transparent !important;
}
.padding{
    padding:5%;
}
.flex
{
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 200px;
    position: relative;
}
.logo ion-icon{
    position: absolute;
    font-size : 7em;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}
.datetime-placeholder {
    color: #FFFFFFFF;
}