
ion-item{
    --ion-background-color: transparent !important;
}
.padding{
    padding:0% 5%;
}
.flex
{
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 180px;
    position: relative;
}
.logo img{

    font-size : 7em;
    padding-bottom: 50px;
    margin-bottom: 25px;

}
.datetime-placeholder {
    color: rgb(0, 0, 0);
}
ion-icon
{
    color: #7590d6;
}

