<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Automatisierte Behandlung
    </ion-title>
    <ion-buttons slot="end">
     <ion-icon slot="start" name="grid-outline"></ion-icon>
    </ion-buttons>  
  </ion-toolbar>
  <ion-segment  mode="ios" [(ngModel)]="selectedSegment" (ionChange)="segmentChanged($event,i)">
    <ion-segment-button [value]="item" *ngFor="let item of segmentList;let i = index"
      (click)="_segmentSelected(item,i)">
      <ion-label *ngIf="i==0">Zustand</ion-label>
      <ion-label *ngIf="i==1">Symptomes</ion-label>
      <ion-label *ngIf="i==2">Specialisten</ion-label>
      <ion-label *ngIf="i==3">Tipps</ion-label>
      
     
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content [fullscreen]="true">

  

  <ion-slides [options]="options" #slide (ionSlideDidChange)="_ionSlideDidChange($event)">
    
    <ion-slide>
      
      <div class="content" >
        <ion-list mode="ios" lines="none">
          <ion-item>
            <ion-label mode="ios">Wo fühlen Sie Schmerzen?</ion-label>
            <ion-select mode="ios" value="brown" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="Headache">Kopf</ion-select-option>
              <ion-select-option value="Stomach aches">Bauch</ion-select-option>
              <ion-select-option value="Sore throats">Hals</ion-select-option>
              <ion-select-option value="Back pain">Rücken</ion-select-option>
              <ion-select-option value="Teeth ache">Zähnen</ion-select-option>
              <ion-select-option value="Other">Woanders</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item >
            <ion-label mode="ios" > Anderer Körperteil </ion-label>
            <ion-input mode="ios" placeholder=""></ion-input>
          </ion-item>
    
          <ion-item >
            <ion-label mode="ios" position="floating"> Wie schlecht fühlen Sie sich ? (0-30)</ion-label>
            <ion-range mode="ios" min="0" max="30" step="10" value="10" snaps pin color="secondary">
              
              <ion-icon slot="end" color="secondary" name="options-outline"></ion-icon>
            </ion-range>
          </ion-item>
        
          <ion-item>
            <ion-label mode="ios"> Wie lange ist das her?</ion-label>
            <ion-datetime mode="ios" displayFormat="MM/DD/YYYY"></ion-datetime>
          </ion-item>
     
          <ion-item>
            <ion-label mode="ios" position="floating"> Temperatur / Unterkühlung ?</ion-label>
           
              <ion-range id="dual-range" dual-knobs pin color="dark">
                <ion-icon  slot="start" color="danger" size="small" name="thermometer"></ion-icon>
                <ion-icon  slot="end" color="danger" name="thermometer"></ion-icon>
            </ion-range>
          </ion-item>

          <ion-item >
            <ion-label mode="ios" position="floating"> Wie müde fühlen Sie sich ? (0-30)</ion-label>
            <ion-range mode="ios" min="0" max="30" step="10" value="10" snaps pin color="secondary">
              
              <ion-icon slot="end" color="secondary" name="options-outline"></ion-icon>
            </ion-range>
          </ion-item>
        </ion-list>
       </div>
      
      
    </ion-slide>
    
    <ion-slide>
      
      <div class="content">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="imageItem">
                <div ><img class="image"src="../../assets/consultation/fatigue.jpg" alt=""></div>
                <div class="text"> <ion-checkbox color="success"  mode="md"></ion-checkbox>&nbsp;Müdigkeit</div>
              </div>
            </ion-col>
            <ion-col>    
              <div class="imageItem">
                <div ><img class="image"src="../../assets/rhume.JPG" alt=""></div>
                <div class="text"> <ion-checkbox color="success"   mode="md"></ion-checkbox>Erkältung</div>
              </div>
            </ion-col>
          </ion-row>
    
          <ion-row>
            <ion-col>
             
              <div class="imageItem">
                <div><img class="image"src="../../assets/consultation/toux.jpg" alt=""></div>
                <div class="text"> <ion-checkbox color="success"  mode="md"></ion-checkbox>&nbsp;Husten</div>
              </div>
            </ion-col>
            <ion-col>
              <div class="imageItem">
                <div ><img class="image" src="../../assets/vertige.JPG" alt=""></div>
                <div class="text"> <ion-checkbox color="success"  mode="md"></ion-checkbox>&nbsp;Schwindel</div>
              </div>
            </ion-col>
          </ion-row>
    
          <ion-row>
            <ion-col>
              <div class="imageItem">
                <div ><img src="../../assets/insomnie.JPG" class="image" alt=""></div>
                <div class="text"> <ion-checkbox color="success"   mode="md"></ion-checkbox>&nbsp;Schlaflosigkeit</div>
              </div>
            </ion-col>
            <ion-col>
              <div class="imageItem">
                <div ><img class="image" src="../../assets/consultation/vomissement.jpg" alt=""></div>
                <div class="text"> <ion-checkbox color="success"  mode="md"></ion-checkbox>&nbsp;Erbrechen</div>
              </div>
            </ion-col>
          </ion-row>
    
          
    
          <ion-row>
            <ion-col>
              <div class="imageItem padding">
                <ion-item >
                  <ion-textarea clear-on-edit="true" placeholder="Andere Symptomes hier beschreiben"></ion-textarea>
                </ion-item>
              </div>
              
            </ion-col>
          </ion-row>
        </ion-grid>
        
     </div>
      
      
    </ion-slide>
    
    <ion-slide>
      <ion-list>
        <ion-item *ngFor="let doctor of doctors" (click)="selectDoctor(doctor)">
          <ion-avatar slot="start">
            <img src="../../assets/profilDefault.jpg" >
          </ion-avatar>
          <ion-label>
            <h2>{{doctor.name}}</h2>
            <p>{{doctor.town}}, Seit dem {{doctor.startDate}} </p>
          </ion-label>
        </ion-item>
      </ion-list>
      
    </ion-slide>
    
    <ion-slide>
      
      <div style="display: flex; flex-direction: column;">
        <app-accordian title="Tipp 1">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed velit iure,
            ea officia numquam provident suscipit, eius quis, fugit rem modi minus.
            Nemo fuga nesciunt a non? Ut, vero veritatis?
          </p>
        </app-accordian>
        <app-accordian title="Tipp 2">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed velit iure,
            ea officia numquam provident suscipit, eius quis, fugit rem modi minus.
            Nemo fuga nesciunt a non? Ut, vero veritatis?
          </p>
        </app-accordian>
        <app-accordian title="Tipp 3">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed velit iure,
            ea officia numquam provident suscipit, eius quis, fugit rem modi minus.
            Nemo fuga nesciunt a non? Ut, vero veritatis?
          </p>
        </app-accordian>
      </div>      
      
    </ion-slide>
    
  </ion-slides> 
    
</ion-content>
