

<ion-content fullscreen > 

  <div class="wave-container" >
    
    
    <mat-vertical-stepper class="ion-padding">
      
      <mat-step>
        <ng-template matStepLabel><span style="color: white;">Patientenakte</span></ng-template>
        <div>
          <img src="assets/hand.svg">

        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel><span style="color: white;">Medizinischer Verlauf</span></ng-template>
        <div>
          <img src="assets/hand.svg">

        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel><span style="color: white;">Automatisierte Behandlung</span></ng-template>
        <div>
          <img src="assets/check.svg">
          <!-- <ion-button size="small" class="ion-text-capitalize"  fill="outline">Check your Tempreture</ion-button> -->

        </div>
      </mat-step>

      <mat-step>
        <div>
          <img src="assets/thanks.svg">
        </div>
        <ng-template matStepLabel><span style="color: white;">Schnelles Gespräch </span></ng-template>
        
      </mat-step>

    </mat-vertical-stepper>
    <ion-button href="/login"  fill="outline"class="ion-text-capitalize">Starten</ion-button>
    

    </div>
</ion-content>


<ion-footer mode="ios" >
  <ion-toolbar mode="ios" >
    <ion-title mode="md" >
      <span class="ion-float-left">Doctorchat</span> 
      <span class="ion-float-right">Bleib zu Hause bleib gesund</span> 
    </ion-title>
  </ion-toolbar>
</ion-footer>


