<ion-menu menuId="main-menu" contentId="main">
  <ion-content >
    <div class="menu-header-bg">

    </div>
    <div class="header-content">
      <ion-icon class="medikt" name="medkit"></ion-icon>
      <ion-label>
        <h2>H. Franck Ngami</h2>
        <p>Bingen am rhein</p>
      </ion-label>
    </div>
    <div class="action-button">
      <ion-button expand="full"  color="light">
        <ion-icon slot="start" name="person-add"></ion-icon> Doctor Hinzufügen
      </ion-button>
    </div>
    <div class="menu-items">
      <ion-list   >
        <ion-button expand="full"  color="light" > 
          <ion-icon slot="start" name="moon"></ion-icon>
          <ion-label>
            Dark Mode
          </ion-label>
          <ion-toggle slot="end"   (click)="themeToggle()"></ion-toggle>
        </ion-button>
        <ion-button expand="full"  color="light">
          <ion-icon name="chatbubble-ellipses-outline"></ion-icon> Chat Parameter
        </ion-button>
        <ion-button expand="full"  color="light">
          <ion-icon name="browsers-outline"></ion-icon> Datei Hochladen
        </ion-button>
        <ion-button expand="full"  color="light" routerLink="/welcome">
          <ion-icon name="cash"></ion-icon> Über die App
        </ion-button>
        <ion-button expand="full" color="light" routerLink="/login">
          <ion-icon name="exit-outline"></ion-icon> Ausloggen
        </ion-button>
      </ion-list>
    </div>
   
  </ion-content>
</ion-menu>