<ion-content fullscreen>

  <div class="wave-container">
    
    
    <h2>Willkommen bei Doctorchat</h2>
    <img src="assets/doctor.svg">
    
    <ion-button  mode="ios" fill="outline" routerLink="/welcome" class="ion-text-capitalize">
     Über die App
    </ion-button>

    

    

    
    
    </div>
  
    

</ion-content>
<ion-footer mode="ios"  >
  <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#7590d6" fill-opacity="1" d="M0,64L120,101.3C240,139,480,213,720,202.7C960,192,1200,96,1320,48L1440,0L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
  <ion-toolbar mode="ios"  >
    <ion-title  mode="md" >
      <span class="ion-float-left">Doctorchat</span> 
      <span class="ion-float-right">Bleib zu Hause bleib gesund</span> 
    </ion-title>
  </ion-toolbar>
</ion-footer>
 