  

  
.wave-container {
  position: relative;

  text-align: center;
  overflow: hidden;


}




h2 {
  font-size: 2rem;
  margin: 3rem auto;
}
ion-title {
  font-size: 10px;
 
}
ion-toolbar {
  color: white;
  --background: #7590d6;
  
}
ion-footer{
  --background: #7590d6;

}
ion-footer > svg {
  display: block;
}
